* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual { /*header要素にしていたところをmainーvisualクラスに変えた*/
  width: 100%;
  height: 400px;
  background-image: url(演習問題/img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.headline { /*<h1>にheadlineクラスと名付けた*/
  padding: 20px;
}

main { /*追加したmain要素*/
  width: 840px;
  margin: 50px auto;　/*上下の余白は指定あり、左右は何も指定なし*/
}

/*service1〜4のcss*/
/*ひとつひとつ分けた方が、後から変更しやすそう*/

.service1 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.service2 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.service3 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.service4 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}